<!DOCTYPE html>
<html class="html" lang="en-US">
  <head>
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/f5718.txt?client=ca-pub-8684986675842996"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <link
      data-optimized="2"
      rel="stylesheet"
      href="/wp-content/litespeed/css/69b3864eda8430b4512632f64423d5f01906.css?ver=4f0a2"
    />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <title>About &#8211; ScriptPastebins</title>
    <meta name="robots" content="max-image-preview:large" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="dns-prefetch" href="http://www.googletagmanager.com/" />
    <link rel="dns-prefetch" href="http://pagead2.googlesyndication.com/" />
    <link rel="dns-prefetch" href="http://fundingchoicesmessages.google.com/" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ScriptPastebins &raquo; Feed"
      href="/feed/index.html"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ScriptPastebins &raquo; Comments Feed"
      href="/comments/feed/index.html"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <script
      src="/wp-includes/js/jquery/jquery.minf43b.js?ver=3.7.1"
      id="jquery-core-js"
    ></script>
    <script
      src="https://www.googletagmanager.com/gtag/js?id=G-2XRYJXDP7M"
      id="google_gtagjs-js"
      defer
      data-deferred="1"
    ></script>
    <script
      id="google_gtagjs-js-after"
      src="data:text/javascript;base64,d2luZG93LmRhdGFMYXllcj13aW5kb3cuZGF0YUxheWVyfHxbXTtmdW5jdGlvbiBndGFnKCl7ZGF0YUxheWVyLnB1c2goYXJndW1lbnRzKX0KZ3RhZygic2V0IiwibGlua2VyIix7ImRvbWFpbnMiOlsic2NyaXB0cGFzdGViaW4uY29tIl19KTtndGFnKCJqcyIsbmV3IERhdGUoKSk7Z3RhZygic2V0IiwiZGV2ZWxvcGVyX2lkLmRaVE5pTVQiLCEwKTtndGFnKCJjb25maWciLCJHLTJYUllKWERQN00iKQ=="
      defer
    ></script>
    <link rel="https://api.w.org/" href="/wp-json/index.html" />
    <link
      rel="alternate"
      title="JSON"
      type="application/json"
      href="/wp-json/wp/v2/pages/1166.json"
    />
    <link
      rel="EditURI"
      type="application/rsd+xml"
      title="RSD"
      href="/xmlrpc0db0.php?rsd"
    />
    <meta name="generator" content="WordPress 6.6.1" />
    <link rel="canonical" href="index.html" />
    <link rel="shortlink" href="/index7117.html?p=1166" />
    <link
      rel="alternate"
      title="oEmbed (JSON)"
      type="application/json+oembed"
      href="/wp-json/oembed/1.0/embed5966.json?url=https%3A%2F%2FScriptPastebins.com%2Fabout%2F"
    />
    <link
      rel="alternate"
      title="oEmbed (XML)"
      type="text/xml+oembed"
      href="/wp-json/oembed/1.0/embed877d?url=https%3A%2F%2FScriptPastebins.com%2Fabout%2F&amp;format=xml"
    />
    <meta name="generator" content="Site Kit by Google 1.133.0" />
    <meta
      name="google-adsense-platform-account"
      content="ca-host-pub-2644536267352236"
    />
    <meta
      name="google-adsense-platform-domain"
      content="sitekit.withgoogle.com"
    />
    <meta
      name="generator"
      content="Elementor 3.23.4; features: e_optimized_css_loading, additional_custom_breakpoints, e_lazyload; settings: css_print_method-external, google_font-enabled, font_display-auto"
    />
    <noscript
      ><style>
        .lazyload[data-src] {
          display: none !important;
        }
      </style></noscript
    >
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/f0903.txt?client=ca-pub-8684986675842996&amp;host=ca-host-pub-2644536267352236"
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/f5718.txt?client=ca-pub-8684986675842996"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      href="/wp-content/uploads/2022/03/cropped-Logo-3-1-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="/wp-content/uploads/2022/03/cropped-Logo-3-1-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="/wp-content/uploads/2022/03/cropped-Logo-3-1-180x180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="https://ScriptPastebins.com/wp-content/uploads/2022/03/cropped-Logo-3-1-270x270.png"
    />
    <script
      data-cfasync="false"
      async
      type="text/javascript"
      src="//auristshacklet.com/r5w9zuHsrxze/94850"
    ></script>
    <script
      data-cfasync="false"
      async
      type="text/javascript"
      src="//zimbifarcies.com/n7rOJfT1CSBdzoQ8H/94849"
    ></script>
  </head>
  <body
    data-rsssl="1"
    class="page-template page-template-elementor_header_footer page page-id-1166 wp-embed-responsive rttpg rttpg-7.7.9 radius-frontend rttpg-body-wrap rttpg-flaticon oceanwp-theme dropdown-mobile default-breakpoint content-full-width page-header-disabled has-breadcrumbs has-blog-grid pagination-center elementor-default elementor-template-full-width elementor-kit-6 elementor-page elementor-page-1166 aa-prefix-scrip-"
    itemscope="itemscope"
    itemtype="https://schema.org/WebPage"
  >
    <div id="outer-wrap" class="site clr">
      <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
      <div id="wrap" class="clr">
        <header
          id="site-header"
          class="minimal-header clr"
          data-height="74"
          itemscope="itemscope"
          itemtype="https://schema.org/WPHeader"
          role="banner"
        >
          <div id="site-header-inner" class="clr container">
            <div
              id="site-logo"
              class="clr"
              itemscope
              itemtype="https://schema.org/Brand"
            >
              <div id="site-logo-inner" class="clr">
                <a
                  href="/"
                  rel="home"
                  class="site-title site-logo-text"
                  style="color: #2b2b2b"
                  >ScriptPastebins</a
                >
              </div>
            </div>
            <div id="site-navigation-wrap" class="clr">
              <nav
                id="site-navigation"
                class="navigation main-navigation clr"
                itemscope="itemscope"
                itemtype="https://schema.org/SiteNavigationElement"
                role="navigation"
              >
                <ul id="menu-script" class="main-menu dropdown-menu sf-menu">
                  <li
                    id="menu-item-11501"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11501"
                  >
                    <a href="/" class="menu-link"
                      ><span class="text-wrap">Home</span></a
                    >
                  </li>
                  <% categories.forEach(category => { %>
                  <li
                    id="menu-item-<%= category._id %>"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-<%= category._id %>"
                  >
                    <a href="/categories/<%= category._id %>" class="menu-link">
                      <span class="text-wrap"><%= category.title %></span>
                    </a>
                  </li>
                  <% }); %>
                  <li
                    id="menu-item-1170"
                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1166 current_page_item menu-item-1170"
                  >
                    <a href="/about" class="menu-link"
                      ><span class="text-wrap">About</span></a
                    >
                  </li>
                  <li class="search-toggle-li">
                    <a
                      href="/index.html#"
                      class="site-search-toggle search-dropdown-toggle"
                      ><span class="screen-reader-text"
                        >Toggle website search</span
                      ><i
                        class="icon-magnifier"
                        aria-hidden="true"
                        role="img"
                      ></i
                    ></a>
                  </li>
                </ul>
                <div
                  id="searchform-dropdown"
                  class="header-searchform-wrap clr"
                >
                  <form
                    aria-label="Search this website"
                    role="search"
                    method="get"
                    class="searchform"
                    action="/search"
                  >
                    <input
                      aria-label="Insert search query"
                      type="search"
                      id="ocean-search-form-1"
                      class="field"
                      autocomplete="off"
                      placeholder="Search"
                      name="search"
                    />
                  </form>
                </div>
              </nav>
            </div>
            <div class="oceanwp-mobile-menu-icon clr mobile-right">
              <a
                href="/index.html#mobile-menu-toggle"
                class="mobile-menu"
                aria-label="Mobile Menu"
              >
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span class="oceanwp-text">Menu</span>
                <span class="oceanwp-close-text">Close</span>
              </a>
            </div>
          </div>
          <div id="mobile-dropdown" class="clr">
            <nav
              class="clr"
              itemscope="itemscope"
              itemtype="https://schema.org/SiteNavigationElement"
            >
              <div id="mobile-nav" class="navigation clr">
                <ul id="menu-script-1" class="menu">
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11501"
                  >
                    <a href="/">Home</a>
                  </li>
                  <% categories.forEach(category => { %>
                  <li
                    id="menu-item-<%= category._id %>"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-<%= category._id %>"
                  >
                    <a href="/categories/<%= category._id %>" class="menu-link">
                      <span class="text-wrap"><%= category.title %></span>
                    </a>
                  </li>
                  <% }); %>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1166 current_page_item menu-item-1170"
                  >
                    <a href="/about" aria-current="page">About</a>
                  </li>
                </ul>
              </div>
              <div id="mobile-menu-search" class="clr">
                <form
                  aria-label="Search this website"
                  method="get"
                  action="/search"
                  class="mobile-searchform"
                >
                  <input
                    aria-label="Insert search query"
                    class="field"
                    id="ocean-mobile-search-2"
                    type="search"
                    name="search"
                    autocomplete="off"
                    placeholder="Search"
                  />
                  <button
                    aria-label="Submit search"
                    type="submit"
                    class="searchform-submit"
                  >
                    <i class="icon-magnifier" aria-hidden="true" role="img"></i>
                  </button>
                </form>
              </div>
            </nav>
          </div>
        </header>
        <main id="main" class="site-main clr" role="main">
          <div
            data-elementor-type="wp-page"
            data-elementor-id="1166"
            class="elementor elementor-1166"
          >
            <section
              class="elementor-section elementor-top-section elementor-element elementor-element-4b4cf88 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
              data-id="4b4cf88"
              data-element_type="section"
              data-settings='{"background_background":"classic"}'
            >
              <div class="elementor-background-overlay"></div>
              <div class="elementor-container elementor-column-gap-default">
                <div
                  class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bf1b7f4"
                  data-id="bf1b7f4"
                  data-element_type="column"
                >
                  <div
                    class="elementor-widget-wrap elementor-element-populated"
                  >
                    <div
                      class="elementor-element elementor-element-1cbdeb2 elementor-widget elementor-widget-heading"
                      data-id="1cbdeb2"
                      data-element_type="widget"
                      data-widget_type="heading.default"
                    >
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-xxl">
                          About Us
                        </h2>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-2296c50 elementor-widget elementor-widget-heading"
                      data-id="2296c50"
                      data-element_type="widget"
                      data-widget_type="heading.default"
                    >
                      <div class="elementor-widget-container">
                        <h1
                          class="elementor-heading-title elementor-size-medium"
                        >
                          WORK FOR PC & MOBILE <br />- NO DOWNLOAD <br />- 100%
                          SAFE<br />ALL SCRIPT JUST COPY PASTE
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-section elementor-top-section elementor-element elementor-element-f4ada28 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
              data-id="f4ada28"
              data-element_type="section"
            >
              <div class="elementor-container elementor-column-gap-default">
                <div
                  class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6002594"
                  data-id="6002594"
                  data-element_type="column"
                >
                  <div
                    class="elementor-widget-wrap elementor-element-populated"
                  >
                    <section
                      class="elementor-section elementor-inner-section elementor-element elementor-element-8177f04 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="8177f04"
                      data-element_type="section"
                      data-settings='{"background_background":"classic"}'
                    >
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div
                          class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-dccd13f"
                          data-id="dccd13f"
                          data-element_type="column"
                          data-settings='{"background_background":"classic"}'
                        >
                          <div
                            class="elementor-widget-wrap elementor-element-populated"
                          >
                            <div
                              class="elementor-element elementor-element-457d098 elementor-view-default elementor-widget elementor-widget-icon"
                              data-id="457d098"
                              data-element_type="widget"
                              data-widget_type="icon.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-wrapper">
                                  <div class="elementor-icon">
                                    <i
                                      aria-hidden="true"
                                      class="fas fa-info-circle"
                                    ></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-7b8267c elementor-widget elementor-widget-heading"
                              data-id="7b8267c"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <h2
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  About Us
                                </h2>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-a7e8253 elementor-widget elementor-widget-text-editor"
                              data-id="a7e8253"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                            >
                              <div class="elementor-widget-container">
                                <p>
                                  This site is about Roblox PC Scripts,
                                  Executor, Roblox Mobile Scripts, Arceus X
                                  &amp; Daily Scripts
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8609db9"
                          data-id="8609db9"
                          data-element_type="column"
                          data-settings='{"background_background":"classic"}'
                        >
                          <div
                            class="elementor-widget-wrap elementor-element-populated"
                          >
                            <div
                              class="elementor-element elementor-element-c8ae550 elementor-view-default elementor-widget elementor-widget-icon"
                              data-id="c8ae550"
                              data-element_type="widget"
                              data-widget_type="icon.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-wrapper">
                                  <div class="elementor-icon">
                                    <i
                                      aria-hidden="true"
                                      class="fab fa-discord"
                                    ></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-041a129 elementor-widget elementor-widget-heading"
                              data-id="041a129"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <h2
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  Discord
                                </h2>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-fc5cdc6 elementor-widget elementor-widget-text-editor"
                              data-id="fc5cdc6"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                            >
                              <div class="elementor-widget-container">
                                <p>
                                  To contact us, sharing informations, talk
                                  &amp; questions please join our group <br /><a
                                    style="
                                      font-weight: var(
                                        --e-global-typography-text-font-weight
                                      );
                                      margin: 0px;
                                      padding: 0px;
                                      border: 0px;
                                      font-family: Whitney;
                                    "
                                    tabindex="0"
                                    title="https://discord.gg/skaysgaming"
                                    role="button"
                                    href="https://discord.gg/J2bWm9hjEq"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    >discord.gg/skaysgaming</a
                                  >
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-795d502"
                          data-id="795d502"
                          data-element_type="column"
                          data-settings='{"background_background":"classic"}'
                        >
                          <div
                            class="elementor-widget-wrap elementor-element-populated"
                          >
                            <div
                              class="elementor-element elementor-element-4fb082f elementor-view-default elementor-widget elementor-widget-icon"
                              data-id="4fb082f"
                              data-element_type="widget"
                              data-widget_type="icon.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-wrapper">
                                  <div class="elementor-icon">
                                    <i
                                      aria-hidden="true"
                                      class="fab fa-youtube"
                                    ></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-3760400 elementor-widget elementor-widget-heading"
                              data-id="3760400"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <h2
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  YouTube
                                </h2>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-5aa4c24 elementor-widget elementor-widget-text-editor"
                              data-id="5aa4c24"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                            >
                              <div class="elementor-widget-container">
                                <p>
                                  My YouTube Channel<br />PC : Skays Gaming<br />Mobile
                                  : Skays Droid
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section
                      class="elementor-section elementor-inner-section elementor-element elementor-element-30fe21a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="30fe21a"
                      data-element_type="section"
                      data-settings='{"background_background":"classic"}'
                    >
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div
                          class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e6b79a9"
                          data-id="e6b79a9"
                          data-element_type="column"
                          data-settings='{"background_background":"classic"}'
                        >
                          <div
                            class="elementor-widget-wrap elementor-element-populated"
                          >
                            <div
                              class="elementor-element elementor-element-5937d86 elementor-view-default elementor-widget elementor-widget-icon"
                              data-id="5937d86"
                              data-element_type="widget"
                              data-widget_type="icon.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-wrapper">
                                  <div class="elementor-icon">
                                    <i
                                      aria-hidden="true"
                                      class="fas fa-file-code"
                                    ></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-3327f31 elementor-widget elementor-widget-heading"
                              data-id="3327f31"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <h2
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  Scripts
                                </h2>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-edd8950 elementor-widget elementor-widget-text-editor"
                              data-id="edd8950"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                            >
                              <div class="elementor-widget-container">
                                Share your own scripts contact me Skays#9228 or
                                you can join <span
                                  style="
                                    font-family: var(
                                        --e-global-typography-text-font-family
                                      ),
                                      Sans-serif;
                                    font-weight: var(
                                      --e-global-typography-text-font-weight
                                    );
                                  "
                                  >our group</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cff5f3a"
                          data-id="cff5f3a"
                          data-element_type="column"
                          data-settings='{"background_background":"classic"}'
                        >
                          <div
                            class="elementor-widget-wrap elementor-element-populated"
                          >
                            <div
                              class="elementor-element elementor-element-f0d87c7 elementor-view-default elementor-widget elementor-widget-icon"
                              data-id="f0d87c7"
                              data-element_type="widget"
                              data-widget_type="icon.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-wrapper">
                                  <div class="elementor-icon">
                                    <i
                                      aria-hidden="true"
                                      class="fas fa-user-shield"
                                    ></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-b6fbed1 elementor-widget elementor-widget-heading"
                              data-id="b6fbed1"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <h2
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  Privacy
                                </h2>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-0c29f09 elementor-widget elementor-widget-text-editor"
                              data-id="0c29f09"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                            >
                              <div class="elementor-widget-container">
                                Your privacy is very important for us. we do not
                                kept your information on our website
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-00aac45"
                          data-id="00aac45"
                          data-element_type="column"
                          data-settings='{"background_background":"classic"}'
                        >
                          <div
                            class="elementor-widget-wrap elementor-element-populated"
                          >
                            <div
                              class="elementor-element elementor-element-babd7ec elementor-view-default elementor-widget elementor-widget-icon"
                              data-id="babd7ec"
                              data-element_type="widget"
                              data-widget_type="icon.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-wrapper">
                                  <div class="elementor-icon">
                                    <i
                                      aria-hidden="true"
                                      class="fas fa-file-alt"
                                    ></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-fc0c808 elementor-widget elementor-widget-heading"
                              data-id="fc0c808"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <h2
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  Terms of Service
                                </h2>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-217a9cc elementor-widget elementor-widget-text-editor"
                              data-id="217a9cc"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                            >
                              <div class="elementor-widget-container">
                                This website only share scripts. we did not make
                                them
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </main>
        <div>
          <script
            data-cfasync="false"
            async
            type="text/javascript"
            src="//siruperunlinks.com/tLD3FdKW7YBUeuw/94461"
          ></script>
        </div>
        <footer
          id="footer"
          class="site-footer"
          itemscope="itemscope"
          itemtype="https://schema.org/WPFooter"
          role="contentinfo"
        >
          <div id="footer-inner" class="clr">
            <div id="footer-bottom" class="clr no-footer-nav">
              <div id="footer-bottom-inner" class="container clr">
                <div id="copyright" class="clr" role="contentinfo">
                  © Copyright 2024 - ScriptPastebins | All rights reserved |
                  <a href="/privacy-policy">Privacy Policy</a> |
                  <a href="/terms-of-service">Terms</a> |
                  <a href="/disclaimer">Disclaimer</a> |
                  <a href="/about">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <a
      aria-label="Scroll to the top of the page"
      href="#"
      id="scroll-top"
      class="scroll-top-right"
      ><i class="fa fa-angle-up" aria-hidden="true" role="img"></i
    ></a>
    <script data-no-optimize="1">
      !(function (t, e) {
        "object" == typeof exports && "undefined" != typeof module
          ? (module.exports = e())
          : "function" == typeof define && define.amd
          ? define(e)
          : ((t =
              "undefined" != typeof globalThis
                ? globalThis
                : t || self).LazyLoad = e());
      })(this, function () {
        "use strict";
        function e() {
          return (e =
            Object.assign ||
            function (t) {
              for (var e = 1; e < arguments.length; e++) {
                var n,
                  a = arguments[e];
                for (n in a)
                  Object.prototype.hasOwnProperty.call(a, n) && (t[n] = a[n]);
              }
              return t;
            }).apply(this, arguments);
        }
        function i(t) {
          return e({}, it, t);
        }
        function o(t, e) {
          var n,
            a = "LazyLoad::Initialized",
            i = new t(e);
          try {
            n = new CustomEvent(a, { detail: { instance: i } });
          } catch (t) {
            (n = document.createEvent("CustomEvent")).initCustomEvent(
              a,
              !1,
              !1,
              { instance: i }
            );
          }
          window.dispatchEvent(n);
        }
        function l(t, e) {
          return t.getAttribute(gt + e);
        }
        function c(t) {
          return l(t, bt);
        }
        function s(t, e) {
          return (function (t, e, n) {
            e = gt + e;
            null !== n ? t.setAttribute(e, n) : t.removeAttribute(e);
          })(t, bt, e);
        }
        function r(t) {
          return s(t, null), 0;
        }
        function u(t) {
          return null === c(t);
        }
        function d(t) {
          return c(t) === vt;
        }
        function f(t, e, n, a) {
          t && (void 0 === a ? (void 0 === n ? t(e) : t(e, n)) : t(e, n, a));
        }
        function _(t, e) {
          nt
            ? t.classList.add(e)
            : (t.className += (t.className ? " " : "") + e);
        }
        function v(t, e) {
          nt
            ? t.classList.remove(e)
            : (t.className = t.className
                .replace(new RegExp("(^|\\s+)" + e + "(\\s+|$)"), " ")
                .replace(/^\s+/, "")
                .replace(/\s+$/, ""));
        }
        function g(t) {
          return t.llTempImage;
        }
        function b(t, e) {
          !e || ((e = e._observer) && e.unobserve(t));
        }
        function p(t, e) {
          t && (t.loadingCount += e);
        }
        function h(t, e) {
          t && (t.toLoadCount = e);
        }
        function n(t) {
          for (var e, n = [], a = 0; (e = t.children[a]); a += 1)
            "SOURCE" === e.tagName && n.push(e);
          return n;
        }
        function m(t, e) {
          (t = t.parentNode) && "PICTURE" === t.tagName && n(t).forEach(e);
        }
        function a(t, e) {
          n(t).forEach(e);
        }
        function E(t) {
          return !!t[st];
        }
        function I(t) {
          return t[st];
        }
        function y(t) {
          return delete t[st];
        }
        function A(e, t) {
          var n;
          E(e) ||
            ((n = {}),
            t.forEach(function (t) {
              n[t] = e.getAttribute(t);
            }),
            (e[st] = n));
        }
        function k(a, t) {
          var i;
          E(a) &&
            ((i = I(a)),
            t.forEach(function (t) {
              var e, n;
              (e = a),
                (t = i[(n = t)]) ? e.setAttribute(n, t) : e.removeAttribute(n);
            }));
        }
        function L(t, e, n) {
          _(t, e.class_loading),
            s(t, ut),
            n && (p(n, 1), f(e.callback_loading, t, n));
        }
        function w(t, e, n) {
          n && t.setAttribute(e, n);
        }
        function x(t, e) {
          w(t, ct, l(t, e.data_sizes)),
            w(t, rt, l(t, e.data_srcset)),
            w(t, ot, l(t, e.data_src));
        }
        function O(t, e, n) {
          var a = l(t, e.data_bg_multi),
            i = l(t, e.data_bg_multi_hidpi);
          (a = at && i ? i : a) &&
            ((t.style.backgroundImage = a),
            (n = n),
            _((t = t), (e = e).class_applied),
            s(t, ft),
            n &&
              (e.unobserve_completed && b(t, e), f(e.callback_applied, t, n)));
        }
        function N(t, e) {
          !e ||
            0 < e.loadingCount ||
            0 < e.toLoadCount ||
            f(t.callback_finish, e);
        }
        function C(t, e, n) {
          t.addEventListener(e, n), (t.llEvLisnrs[e] = n);
        }
        function M(t) {
          return !!t.llEvLisnrs;
        }
        function z(t) {
          if (M(t)) {
            var e,
              n,
              a = t.llEvLisnrs;
            for (e in a) {
              var i = a[e];
              (n = e), (i = i), t.removeEventListener(n, i);
            }
            delete t.llEvLisnrs;
          }
        }
        function R(t, e, n) {
          var a;
          delete t.llTempImage,
            p(n, -1),
            (a = n) && --a.toLoadCount,
            v(t, e.class_loading),
            e.unobserve_completed && b(t, n);
        }
        function T(o, r, c) {
          var l = g(o) || o;
          M(l) ||
            (function (t, e, n) {
              M(t) || (t.llEvLisnrs = {});
              var a = "VIDEO" === t.tagName ? "loadeddata" : "load";
              C(t, a, e), C(t, "error", n);
            })(
              l,
              function (t) {
                var e, n, a, i;
                (n = r),
                  (a = c),
                  (i = d((e = o))),
                  R(e, n, a),
                  _(e, n.class_loaded),
                  s(e, dt),
                  f(n.callback_loaded, e, a),
                  i || N(n, a),
                  z(l);
              },
              function (t) {
                var e, n, a, i;
                (n = r),
                  (a = c),
                  (i = d((e = o))),
                  R(e, n, a),
                  _(e, n.class_error),
                  s(e, _t),
                  f(n.callback_error, e, a),
                  i || N(n, a),
                  z(l);
              }
            );
        }
        function G(t, e, n) {
          var a, i, o, r, c;
          (t.llTempImage = document.createElement("IMG")),
            T(t, e, n),
            E((c = t)) ||
              (c[st] = { backgroundImage: c.style.backgroundImage }),
            (o = n),
            (r = l((a = t), (i = e).data_bg)),
            (c = l(a, i.data_bg_hidpi)),
            (r = at && c ? c : r) &&
              ((a.style.backgroundImage = 'url("'.concat(r, '")')),
              g(a).setAttribute(ot, r),
              L(a, i, o)),
            O(t, e, n);
        }
        function D(t, e, n) {
          var a;
          T(t, e, n),
            (a = e),
            (e = n),
            (t = It[(n = t).tagName]) && (t(n, a), L(n, a, e));
        }
        function V(t, e, n) {
          var a;
          (a = t), (-1 < yt.indexOf(a.tagName) ? D : G)(t, e, n);
        }
        function F(t, e, n) {
          var a;
          t.setAttribute("loading", "lazy"),
            T(t, e, n),
            (a = e),
            (e = It[(n = t).tagName]) && e(n, a),
            s(t, vt);
        }
        function j(t) {
          t.removeAttribute(ot), t.removeAttribute(rt), t.removeAttribute(ct);
        }
        function P(t) {
          m(t, function (t) {
            k(t, Et);
          }),
            k(t, Et);
        }
        function S(t) {
          var e;
          (e = At[t.tagName])
            ? e(t)
            : E((e = t)) &&
              ((t = I(e)), (e.style.backgroundImage = t.backgroundImage));
        }
        function U(t, e) {
          var n;
          S(t),
            (n = e),
            u((e = t)) ||
              d(e) ||
              (v(e, n.class_entered),
              v(e, n.class_exited),
              v(e, n.class_applied),
              v(e, n.class_loading),
              v(e, n.class_loaded),
              v(e, n.class_error)),
            r(t),
            y(t);
        }
        function $(t, e, n, a) {
          var i;
          n.cancel_on_exit &&
            (c(t) !== ut ||
              ("IMG" === t.tagName &&
                (z(t),
                m((i = t), function (t) {
                  j(t);
                }),
                j(i),
                P(t),
                v(t, n.class_loading),
                p(a, -1),
                r(t),
                f(n.callback_cancel, t, e, a))));
        }
        function q(t, e, n, a) {
          var i,
            o,
            r = ((o = t), 0 <= pt.indexOf(c(o)));
          s(t, "entered"),
            _(t, n.class_entered),
            v(t, n.class_exited),
            (i = t),
            (o = a),
            n.unobserve_entered && b(i, o),
            f(n.callback_enter, t, e, a),
            r || V(t, n, a);
        }
        function H(t) {
          return t.use_native && "loading" in HTMLImageElement.prototype;
        }
        function B(t, i, o) {
          t.forEach(function (t) {
            return (a = t).isIntersecting || 0 < a.intersectionRatio
              ? q(t.target, t, i, o)
              : ((e = t.target),
                (n = t),
                (a = i),
                (t = o),
                void (
                  u(e) ||
                  (_(e, a.class_exited),
                  $(e, n, a, t),
                  f(a.callback_exit, e, n, t))
                ));
            var e, n, a;
          });
        }
        function J(e, n) {
          var t;
          et &&
            !H(e) &&
            (n._observer = new IntersectionObserver(
              function (t) {
                B(t, e, n);
              },
              {
                root: (t = e).container === document ? null : t.container,
                rootMargin: t.thresholds || t.threshold + "px",
              }
            ));
        }
        function K(t) {
          return Array.prototype.slice.call(t);
        }
        function Q(t) {
          return t.container.querySelectorAll(t.elements_selector);
        }
        function W(t) {
          return c(t) === _t;
        }
        function X(t, e) {
          return (e = t || Q(e)), K(e).filter(u);
        }
        function Y(e, t) {
          var n;
          ((n = Q(e)), K(n).filter(W)).forEach(function (t) {
            v(t, e.class_error), r(t);
          }),
            t.update();
        }
        function t(t, e) {
          var n,
            a,
            t = i(t);
          (this._settings = t),
            (this.loadingCount = 0),
            J(t, this),
            (n = t),
            (a = this),
            Z &&
              window.addEventListener("online", function () {
                Y(n, a);
              }),
            this.update(e);
        }
        var Z = "undefined" != typeof window,
          tt =
            (Z && !("onscroll" in window)) ||
            ("undefined" != typeof navigator &&
              /(gle|ing|ro)bot|crawl|spider/i.test(navigator.userAgent)),
          et = Z && "IntersectionObserver" in window,
          nt = Z && "classList" in document.createElement("p"),
          at = Z && 1 < window.devicePixelRatio,
          it = {
            elements_selector: ".lazy",
            container: tt || Z ? document : null,
            threshold: 300,
            thresholds: null,
            data_src: "src",
            data_srcset: "srcset",
            data_sizes: "sizes",
            data_bg: "bg",
            data_bg_hidpi: "bg-hidpi",
            data_bg_multi: "bg-multi",
            data_bg_multi_hidpi: "bg-multi-hidpi",
            data_poster: "poster",
            class_applied: "applied",
            class_loading: "litespeed-loading",
            class_loaded: "litespeed-loaded",
            class_error: "error",
            class_entered: "entered",
            class_exited: "exited",
            unobserve_completed: !0,
            unobserve_entered: !1,
            cancel_on_exit: !0,
            callback_enter: null,
            callback_exit: null,
            callback_applied: null,
            callback_loading: null,
            callback_loaded: null,
            callback_error: null,
            callback_finish: null,
            callback_cancel: null,
            use_native: !1,
          },
          ot = "src",
          rt = "srcset",
          ct = "sizes",
          lt = "poster",
          st = "llOriginalAttrs",
          ut = "loading",
          dt = "loaded",
          ft = "applied",
          _t = "error",
          vt = "native",
          gt = "data-",
          bt = "ll-status",
          pt = [ut, dt, ft, _t],
          ht = [ot],
          mt = [ot, lt],
          Et = [ot, rt, ct],
          It = {
            IMG: function (t, e) {
              m(t, function (t) {
                A(t, Et), x(t, e);
              }),
                A(t, Et),
                x(t, e);
            },
            IFRAME: function (t, e) {
              A(t, ht), w(t, ot, l(t, e.data_src));
            },
            VIDEO: function (t, e) {
              a(t, function (t) {
                A(t, ht), w(t, ot, l(t, e.data_src));
              }),
                A(t, mt),
                w(t, lt, l(t, e.data_poster)),
                w(t, ot, l(t, e.data_src)),
                t.load();
            },
          },
          yt = ["IMG", "IFRAME", "VIDEO"],
          At = {
            IMG: P,
            IFRAME: function (t) {
              k(t, ht);
            },
            VIDEO: function (t) {
              a(t, function (t) {
                k(t, ht);
              }),
                k(t, mt),
                t.load();
            },
          },
          kt = ["IMG", "IFRAME", "VIDEO"];
        return (
          (t.prototype = {
            update: function (t) {
              var e,
                n,
                a,
                i = this._settings,
                o = X(t, i);
              {
                if ((h(this, o.length), !tt && et))
                  return H(i)
                    ? ((e = i),
                      (n = this),
                      o.forEach(function (t) {
                        -1 !== kt.indexOf(t.tagName) && F(t, e, n);
                      }),
                      void h(n, 0))
                    : ((t = this._observer),
                      (i = o),
                      t.disconnect(),
                      (a = t),
                      void i.forEach(function (t) {
                        a.observe(t);
                      }));
                this.loadAll(o);
              }
            },
            destroy: function () {
              this._observer && this._observer.disconnect(),
                Q(this._settings).forEach(function (t) {
                  y(t);
                }),
                delete this._observer,
                delete this._settings,
                delete this.loadingCount,
                delete this.toLoadCount;
            },
            loadAll: function (t) {
              var e = this,
                n = this._settings;
              X(t, n).forEach(function (t) {
                b(t, e), V(t, n, e);
              });
            },
            restoreAll: function () {
              var e = this._settings;
              Q(e).forEach(function (t) {
                U(t, e);
              });
            },
          }),
          (t.load = function (t, e) {
            e = i(e);
            V(t, e);
          }),
          (t.resetStatus = function (t) {
            r(t);
          }),
          Z &&
            (function (t, e) {
              if (e)
                if (e.length) for (var n, a = 0; (n = e[a]); a += 1) o(t, n);
                else o(t, e);
            })(t, window.lazyLoadOptions),
          t
        );
      });
      !(function (e, t) {
        "use strict";
        function a() {
          t.body.classList.add("litespeed_lazyloaded");
        }
        function n() {
          console.log("[LiteSpeed] Start Lazy Load Images"),
            (d = new LazyLoad({
              elements_selector: "[data-lazyloaded]",
              callback_finish: a,
            })),
            (o = function () {
              d.update();
            }),
            e.MutationObserver &&
              new MutationObserver(o).observe(t.documentElement, {
                childList: !0,
                subtree: !0,
                attributes: !0,
              });
        }
        var d, o;
        e.addEventListener
          ? e.addEventListener("load", n, !1)
          : e.attachEvent("onload", n);
      })(window, document);
    </script>
    <script
      data-optimized="1"
      src="/wp-content/litespeed/js/db4bebb822d296c5106054c0631dce881906.js?ver=4f0a2"
      defer
    ></script>
  </body>
</html>
