<!DOCTYPE html>
<html class="html" lang="en-US">
  <head>
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/f5718.txt?client=ca-pub-8684986675842996"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <link
      data-optimized="2"
      rel="stylesheet"
      href="/wp-content/litespeed/css/0fbdb4f674ce3845c6a6441a94ffe5c91906.css?ver=4f0a2"
    />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <title>Terms &#038; Conditions &#8211; ScriptPastebin</title>
    <meta name="robots" content="max-image-preview:large" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="dns-prefetch" href="http://www.googletagmanager.com/" />
    <link rel="dns-prefetch" href="http://pagead2.googlesyndication.com/" />
    <link rel="dns-prefetch" href="http://fundingchoicesmessages.google.com/" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ScriptPastebin &raquo; Feed"
      href="/feed/index.html"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ScriptPastebin &raquo; Comments Feed"
      href="/comments/feed/index.html"
    />
    <script
      src="/wp-includes/js/jquery/jquery.minf43b.js?ver=3.7.1"
      id="jquery-core-js"
    ></script>
    <script
      src="https://www.googletagmanager.com/gtag/js?id=G-2XRYJXDP7M"
      id="google_gtagjs-js"
      defer
      data-deferred="1"
    ></script>
    <script
      id="google_gtagjs-js-after"
      src="data:text/javascript;base64,d2luZG93LmRhdGFMYXllcj13aW5kb3cuZGF0YUxheWVyfHxbXTtmdW5jdGlvbiBndGFnKCl7ZGF0YUxheWVyLnB1c2goYXJndW1lbnRzKX0KZ3RhZygic2V0IiwibGlua2VyIix7ImRvbWFpbnMiOlsic2NyaXB0cGFzdGViaW4uY29tIl19KTtndGFnKCJqcyIsbmV3IERhdGUoKSk7Z3RhZygic2V0IiwiZGV2ZWxvcGVyX2lkLmRaVE5pTVQiLCEwKTtndGFnKCJjb25maWciLCJHLTJYUllKWERQN00iKQ=="
      defer
    ></script>
    <link rel="https://api.w.org/" href="/wp-json/index.html" />
    <link
      rel="alternate"
      title="JSON"
      type="application/json"
      href="/wp-json/wp/v2/pages/21527.json"
    />
    <link
      rel="EditURI"
      type="application/rsd+xml"
      title="RSD"
      href="/xmlrpc0db0.php?rsd"
    />
    <meta name="generator" content="WordPress 6.6.1" />
    <link rel="canonical" href="index.html" />
    <link rel="shortlink" href="/index16de.html?p=21527" />
    <link
      rel="alternate"
      title="oEmbed (JSON)"
      type="application/json+oembed"
      href="/wp-json/oembed/1.0/embeda006.json?url=https%3A%2F%2Fscriptpastebin.com%2Fterms-conditions%2F"
    />
    <link
      rel="alternate"
      title="oEmbed (XML)"
      type="text/xml+oembed"
      href="/wp-json/oembed/1.0/embedb807?url=https%3A%2F%2Fscriptpastebin.com%2Fterms-conditions%2F&amp;format=xml"
    />
    <meta name="generator" content="Site Kit by Google 1.133.0" />
    <meta
      name="google-adsense-platform-account"
      content="ca-host-pub-2644536267352236"
    />
    <meta
      name="google-adsense-platform-domain"
      content="sitekit.withgoogle.com"
    />
    <meta
      name="generator"
      content="Elementor 3.23.4; features: e_optimized_css_loading, additional_custom_breakpoints, e_lazyload; settings: css_print_method-external, google_font-enabled, font_display-auto"
    />
    <noscript
      ><style>
        .lazyload[data-src] {
          display: none !important;
        }
      </style></noscript
    >
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/f0903.txt?client=ca-pub-8684986675842996&amp;host=ca-host-pub-2644536267352236"
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/f5718.txt?client=ca-pub-8684986675842996"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      href="/wp-content/uploads/2022/03/cropped-Logo-3-1-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="/wp-content/uploads/2022/03/cropped-Logo-3-1-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="/wp-content/uploads/2022/03/cropped-Logo-3-1-180x180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="https://scriptpastebin.com/wp-content/uploads/2022/03/cropped-Logo-3-1-270x270.png"
    />
  </head>
  <body
    data-rsssl="1"
    class="page-template-default page page-id-21527 wp-embed-responsive rttpg rttpg-7.7.9 radius-frontend rttpg-body-wrap rttpg-flaticon oceanwp-theme dropdown-mobile default-breakpoint content-full-width page-header-disabled has-breadcrumbs has-blog-grid pagination-center elementor-default elementor-kit-6 aa-prefix-scrip-"
    itemscope="itemscope"
    itemtype="https://schema.org/WebPage"
  >
    <div id="outer-wrap" class="site clr">
      <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
      <div id="wrap" class="clr">
        <header
          id="site-header"
          class="minimal-header clr"
          data-height="74"
          itemscope="itemscope"
          itemtype="https://schema.org/WPHeader"
          role="banner"
        >
          <div id="site-header-inner" class="clr container">
            <div
              id="site-logo"
              class="clr"
              itemscope
              itemtype="https://schema.org/Brand"
            >
              <div id="site-logo-inner" class="clr">
                <a
                  href="/"
                  rel="home"
                  class="site-title site-logo-text"
                  style="color: #2b2b2b"
                  >ScriptPastebin</a
                >
              </div>
            </div>
            <div id="site-navigation-wrap" class="clr">
              <nav
                id="site-navigation"
                class="navigation main-navigation clr"
                itemscope="itemscope"
                itemtype="https://schema.org/SiteNavigationElement"
                role="navigation"
              >
                <ul id="menu-script" class="main-menu dropdown-menu sf-menu">
                  <li
                    id="menu-item-11501"
                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4600 current_page_item menu-item-11501"
                  >
                    <a href="/" class="menu-link"
                      ><span class="text-wrap">Home</span></a
                    >
                  </li>
                  <% categories.forEach(category => { %>
                  <li
                    id="menu-item-<%= category._id %>"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-<%= category._id %>"
                  >
                    <a href="/categories/<%= category._id %>" class="menu-link">
                      <span class="text-wrap"><%= category.title %></span>
                    </a>
                  </li>
                  <% }); %>
                  <li
                    id="menu-item-1170"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1170"
                  >
                    <a href="/about" class="menu-link"
                      ><span class="text-wrap">About</span></a
                    >
                  </li>
                  <li class="search-toggle-li">
                    <a
                      href="/index.html#"
                      class="site-search-toggle search-dropdown-toggle"
                      ><span class="screen-reader-text"
                        >Toggle website search</span
                      ><i
                        class="icon-magnifier"
                        aria-hidden="true"
                        role="img"
                      ></i
                    ></a>
                  </li>
                </ul>
                <div
                  id="searchform-dropdown"
                  class="header-searchform-wrap clr"
                >
                  <form
                    aria-label="Search this website"
                    role="search"
                    method="get"
                    class="searchform"
                    action="/search"
                  >
                    <input
                      aria-label="Insert search query"
                      type="search"
                      id="ocean-search-form-1"
                      class="field"
                      autocomplete="off"
                      placeholder="Search"
                      name="search"
                    />
                  </form>
                </div>
              </nav>
            </div>
            <div class="oceanwp-mobile-menu-icon clr mobile-right">
              <a
                href="/index.html#mobile-menu-toggle"
                class="mobile-menu"
                aria-label="Mobile Menu"
              >
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span class="oceanwp-text">Menu</span>
                <span class="oceanwp-close-text">Close</span>
              </a>
            </div>
          </div>
          <div id="mobile-dropdown" class="clr">
            <nav
              class="clr"
              itemscope="itemscope"
              itemtype="https://schema.org/SiteNavigationElement"
            >
              <div id="mobile-nav" class="navigation clr">
                <ul id="menu-script-1" class="menu">
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4600 current_page_item menu-item-11501"
                  >
                    <a href="/" aria-current="page">Home</a>
                  </li>
                  <% categories.forEach(category => { %>
                  <li
                    id="menu-item-<%= category._id %>"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-<%= category._id %>"
                  >
                    <a href="/categories/<%= category._id %>" class="menu-link">
                      <span class="text-wrap"><%= category.title %></span>
                    </a>
                  </li>
                  <% }); %>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1170"
                  >
                    <a href="/about">About</a>
                  </li>
                </ul>
              </div>
              <div id="mobile-menu-search" class="clr">
                <form
                  aria-label="Search this website"
                  method="get"
                  action="/search"
                  class="mobile-searchform"
                >
                  <input
                    aria-label="Insert search query"
                    class="field"
                    id="ocean-mobile-search-2"
                    type="search"
                    name="search"
                    autocomplete="off"
                    placeholder="Search"
                  />
                  <button
                    aria-label="Submit search"
                    type="submit"
                    class="searchform-submit"
                  >
                    <i class="icon-magnifier" aria-hidden="true" role="img"></i>
                  </button>
                </form>
              </div>
            </nav>
          </div>
        </header>
        <main id="main" class="site-main clr" role="main">
          <div id="content-wrap" class="container clr">
            <div id="primary" class="content-area clr">
              <div id="content" class="site-content clr">
                <article class="single-page-article clr">
                  <div class="entry clr" itemprop="text">
                    <p>Welcome to Script Pastebin!</p>
                    <p>
                      These terms and conditions outline the rules and
                      regulations for the use of Script Pastebin&#8217;s
                      Website, located at scriptpastebin.com.
                    </p>
                    <p>
                      By accessing this website we assume you accept these terms
                      and conditions. Do not continue to use Script Pastebin if
                      you do not agree to take all of the terms and conditions
                      stated on this page.
                    </p>
                    <p>
                      The following terminology applies to these Terms and
                      Conditions, Privacy Statement and Disclaimer Notice and
                      all Agreements: &#8220;Client&#8221;, &#8220;You&#8221;
                      and &#8220;Your&#8221; refers to you, the person log on
                      this website and compliant to the Company’s terms and
                      conditions. &#8220;The Company&#8221;,
                      &#8220;Ourselves&#8221;, &#8220;We&#8221;,
                      &#8220;Our&#8221; and &#8220;Us&#8221;, refers to our
                      Company. &#8220;Party&#8221;, &#8220;Parties&#8221;, or
                      &#8220;Us&#8221;, refers to both the Client and ourselves.
                      All terms refer to the offer, acceptance and consideration
                      of payment necessary to undertake the process of our
                      assistance to the Client in the most appropriate manner
                      for the express purpose of meeting the Client’s needs in
                      respect of provision of the Company’s stated services, in
                      accordance with and subject to, prevailing law of
                      Netherlands. Any use of the above terminology or other
                      words in the singular, plural, capitalization and/or
                      he/she or they, are taken as interchangeable and therefore
                      as referring to same. Our Terms and Conditions were
                      created with the help of the
                      <a
                        href="https://www.privacypolicyonline.com/terms-conditions-generator/"
                        >Terms &#038; Conditions Generator</a
                      >.
                    </p>
                    <h3><strong>Cookies</strong></h3>
                    <p>
                      We employ the use of cookies. By accessing Script
                      Pastebin, you agreed to use cookies in agreement with the
                      Script Pastebin&#8217;s Privacy Policy.
                    </p>
                    <p>
                      Most interactive websites use cookies to let us retrieve
                      the user&#8217;s details for each visit. Cookies are used
                      by our website to enable the functionality of certain
                      areas to make it easier for people visiting our website.
                      Some of our affiliate/advertising partners may also use
                      cookies.
                    </p>
                    <h3><strong>License</strong></h3>
                    <p>
                      Unless otherwise stated, Script Pastebin and/or its
                      licensors own the intellectual property rights for all
                      material on Script Pastebin. All intellectual property
                      rights are reserved. You may access this from Script
                      Pastebin for your own personal use subjected to
                      restrictions set in these terms and conditions.
                    </p>
                    <p>You must not:</p>
                    <ul>
                      <li>Republish material from Script Pastebin</li>
                      <li>
                        Sell, rent or sub-license material from Script Pastebin
                      </li>
                      <li>
                        Reproduce, duplicate or copy material from Script
                        Pastebin
                      </li>
                      <li>Redistribute content from Script Pastebin</li>
                    </ul>
                    <p>This Agreement shall begin on the date hereof.</p>
                    <p>
                      Parts of this website offer an opportunity for users to
                      post and exchange opinions and information in certain
                      areas of the website. Script Pastebin does not filter,
                      edit, publish or review Comments prior to their presence
                      on the website. Comments do not reflect the views and
                      opinions of Script Pastebin,its agents and/or affiliates.
                      Comments reflect the views and opinions of the person who
                      post their views and opinions. To the extent permitted by
                      applicable laws, Script Pastebin shall not be liable for
                      the Comments or for any liability, damages or expenses
                      caused and/or suffered as a result of any use of and/or
                      posting of and/or appearance of the Comments on this
                      website.
                    </p>
                    <p>
                      Script Pastebin reserves the right to monitor all Comments
                      and to remove any Comments which can be considered
                      inappropriate, offensive or causes breach of these Terms
                      and Conditions.
                    </p>
                    <p>You warrant and represent that:</p>
                    <ul>
                      <li>
                        You are entitled to post the Comments on our website and
                        have all necessary licenses and consents to do so;
                      </li>
                      <li>
                        The Comments do not invade any intellectual property
                        right, including without limitation copyright, patent or
                        trademark of any third party;
                      </li>
                      <li>
                        The Comments do not contain any defamatory, libelous,
                        offensive, indecent or otherwise unlawful material which
                        is an invasion of privacy
                      </li>
                      <li>
                        The Comments will not be used to solicit or promote
                        business or custom or present commercial activities or
                        unlawful activity.
                      </li>
                    </ul>
                    <p>
                      You hereby grant Script Pastebin a non-exclusive license
                      to use, reproduce, edit and authorize others to use,
                      reproduce and edit any of your Comments in any and all
                      forms, formats or media.
                    </p>
                    <h3><strong>Hyperlinking to our Content</strong></h3>
                    <p>
                      The following organizations may link to our Website
                      without prior written approval:
                    </p>
                    <ul>
                      <li>Government agencies;</li>
                      <li>Search engines;</li>
                      <li>News organizations;</li>
                      <li>
                        Online directory distributors may link to our Website in
                        the same manner as they hyperlink to the Websites of
                        other listed businesses; and
                      </li>
                      <li>
                        System wide Accredited Businesses except soliciting
                        non-profit organizations, charity shopping malls, and
                        charity fundraising groups which may not hyperlink to
                        our Web site.
                      </li>
                    </ul>
                    <p>
                      These organizations may link to our home page, to
                      publications or to other Website information so long as
                      the link: (a) is not in any way deceptive; (b) does not
                      falsely imply sponsorship, endorsement or approval of the
                      linking party and its products and/or services; and (c)
                      fits within the context of the linking party&#8217;s site.
                    </p>
                    <p>
                      We may consider and approve other link requests from the
                      following types of organizations:
                    </p>
                    <ul>
                      <li>
                        commonly-known consumer and/or business information
                        sources;
                      </li>
                      <li>dot.com community sites;</li>
                      <li>
                        associations or other groups representing charities;
                      </li>
                      <li>online directory distributors;</li>
                      <li>internet portals;</li>
                      <li>accounting, law and consulting firms; and</li>
                      <li>educational institutions and trade associations.</li>
                    </ul>
                    <p>
                      We will approve link requests from these organizations if
                      we decide that: (a) the link would not make us look
                      unfavorably to ourselves or to our accredited businesses;
                      (b) the organization does not have any negative records
                      with us; (c) the benefit to us from the visibility of the
                      hyperlink compensates the absence of Script Pastebin; and
                      (d) the link is in the context of general resource
                      information.
                    </p>
                    <p>
                      These organizations may link to our home page so long as
                      the link: (a) is not in any way deceptive; (b) does not
                      falsely imply sponsorship, endorsement or approval of the
                      linking party and its products or services; and (c) fits
                      within the context of the linking party&#8217;s site.
                    </p>
                    <p>
                      If you are one of the organizations listed in paragraph 2
                      above and are interested in linking to our website, you
                      must inform us by sending an e-mail to Script Pastebin.
                      Please include your name, your organization name, contact
                      information as well as the URL of your site, a list of any
                      URLs from which you intend to link to our Website, and a
                      list of the URLs on our site to which you would like to
                      link. Wait 2-3 weeks for a response.
                    </p>
                    <p>
                      Approved organizations may hyperlink to our Website as
                      follows:
                    </p>
                    <ul>
                      <li>By use of our corporate name; or</li>
                      <li>
                        By use of the uniform resource locator being linked to;
                        or
                      </li>
                      <li>
                        By use of any other description of our Website being
                        linked to that makes sense within the context and format
                        of content on the linking party&#8217;s site.
                      </li>
                    </ul>
                    <p>
                      No use of Script Pastebin&#8217;s logo or other artwork
                      will be allowed for linking absent a trademark license
                      agreement.
                    </p>
                    <h3><strong>iFrames</strong></h3>
                    <p>
                      Without prior approval and written permission, you may not
                      create frames around our Webpages that alter in any way
                      the visual presentation or appearance of our Website.
                    </p>
                    <h3><strong>Content Liability</strong></h3>
                    <p>
                      We shall not be hold responsible for any content that
                      appears on your Website. You agree to protect and defend
                      us against all claims that is rising on your Website. No
                      link(s) should appear on any Website that may be
                      interpreted as libelous, obscene or criminal, or which
                      infringes, otherwise violates, or advocates the
                      infringement or other violation of, any third party
                      rights.
                    </p>
                    <h3><strong>Reservation of Rights</strong></h3>
                    <p>
                      We reserve the right to request that you remove all links
                      or any particular link to our Website. You approve to
                      immediately remove all links to our Website upon request.
                      We also reserve the right to amen these terms and
                      conditions and it&#8217;s linking policy at any time. By
                      continuously linking to our Website, you agree to be bound
                      to and follow these linking terms and conditions.
                    </p>
                    <h3><strong>Removal of links from our website</strong></h3>
                    <p>
                      If you find any link on our Website that is offensive for
                      any reason, you are free to contact and inform us any
                      moment. We will consider requests to remove links but we
                      are not obligated to or so or to respond to you directly.
                    </p>
                    <p>
                      We do not ensure that the information on this website is
                      correct, we do not warrant its completeness or accuracy;
                      nor do we promise to ensure that the website remains
                      available or that the material on the website is kept up
                      to date.
                    </p>
                    <h3><strong>Disclaimer</strong></h3>
                    <p>
                      To the maximum extent permitted by applicable law, we
                      exclude all representations, warranties and conditions
                      relating to our website and the use of this website.
                      Nothing in this disclaimer will:
                    </p>
                    <ul>
                      <li>
                        limit or exclude our or your liability for death or
                        personal injury;
                      </li>
                      <li>
                        limit or exclude our or your liability for fraud or
                        fraudulent misrepresentation;
                      </li>
                      <li>
                        limit any of our or your liabilities in any way that is
                        not permitted under applicable law; or
                      </li>
                      <li>
                        exclude any of our or your liabilities that may not be
                        excluded under applicable law.
                      </li>
                    </ul>
                    <p>
                      The limitations and prohibitions of liability set in this
                      Section and elsewhere in this disclaimer: (a) are subject
                      to the preceding paragraph; and (b) govern all liabilities
                      arising under the disclaimer, including liabilities
                      arising in contract, in tort and for breach of statutory
                      duty.
                    </p>
                    <p>
                      As long as the website and the information and services on
                      the website are provided free of charge, we will not be
                      liable for any loss or damage of any nature.
                    </p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </main>
        <footer
          id="footer"
          class="site-footer"
          itemscope="itemscope"
          itemtype="https://schema.org/WPFooter"
          role="contentinfo"
        >
          <div id="footer-inner" class="clr">
            <div id="footer-bottom" class="clr no-footer-nav">
              <div id="footer-bottom-inner" class="container clr">
                <div id="copyright" class="clr" role="contentinfo">
                  © Copyright 2024 - ScriptPastebin | All rights reserved |
                  <a href="/privacy-policy">Privacy Policy</a> |
                  <a href="/terms-of-service">Terms</a> |
                  <a href="/disclaimer">Disclaimer</a> |
                  <a href="/about">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <a
      aria-label="Scroll to the top of the page"
      href="#"
      id="scroll-top"
      class="scroll-top-right"
      ><i class="fa fa-angle-up" aria-hidden="true" role="img"></i
    ></a>
    <script data-no-optimize="1">
      !(function (t, e) {
        "object" == typeof exports && "undefined" != typeof module
          ? (module.exports = e())
          : "function" == typeof define && define.amd
          ? define(e)
          : ((t =
              "undefined" != typeof globalThis
                ? globalThis
                : t || self).LazyLoad = e());
      })(this, function () {
        "use strict";
        function e() {
          return (e =
            Object.assign ||
            function (t) {
              for (var e = 1; e < arguments.length; e++) {
                var n,
                  a = arguments[e];
                for (n in a)
                  Object.prototype.hasOwnProperty.call(a, n) && (t[n] = a[n]);
              }
              return t;
            }).apply(this, arguments);
        }
        function i(t) {
          return e({}, it, t);
        }
        function o(t, e) {
          var n,
            a = "LazyLoad::Initialized",
            i = new t(e);
          try {
            n = new CustomEvent(a, { detail: { instance: i } });
          } catch (t) {
            (n = document.createEvent("CustomEvent")).initCustomEvent(
              a,
              !1,
              !1,
              { instance: i }
            );
          }
          window.dispatchEvent(n);
        }
        function l(t, e) {
          return t.getAttribute(gt + e);
        }
        function c(t) {
          return l(t, bt);
        }
        function s(t, e) {
          return (function (t, e, n) {
            e = gt + e;
            null !== n ? t.setAttribute(e, n) : t.removeAttribute(e);
          })(t, bt, e);
        }
        function r(t) {
          return s(t, null), 0;
        }
        function u(t) {
          return null === c(t);
        }
        function d(t) {
          return c(t) === vt;
        }
        function f(t, e, n, a) {
          t && (void 0 === a ? (void 0 === n ? t(e) : t(e, n)) : t(e, n, a));
        }
        function _(t, e) {
          nt
            ? t.classList.add(e)
            : (t.className += (t.className ? " " : "") + e);
        }
        function v(t, e) {
          nt
            ? t.classList.remove(e)
            : (t.className = t.className
                .replace(new RegExp("(^|\\s+)" + e + "(\\s+|$)"), " ")
                .replace(/^\s+/, "")
                .replace(/\s+$/, ""));
        }
        function g(t) {
          return t.llTempImage;
        }
        function b(t, e) {
          !e || ((e = e._observer) && e.unobserve(t));
        }
        function p(t, e) {
          t && (t.loadingCount += e);
        }
        function h(t, e) {
          t && (t.toLoadCount = e);
        }
        function n(t) {
          for (var e, n = [], a = 0; (e = t.children[a]); a += 1)
            "SOURCE" === e.tagName && n.push(e);
          return n;
        }
        function m(t, e) {
          (t = t.parentNode) && "PICTURE" === t.tagName && n(t).forEach(e);
        }
        function a(t, e) {
          n(t).forEach(e);
        }
        function E(t) {
          return !!t[st];
        }
        function I(t) {
          return t[st];
        }
        function y(t) {
          return delete t[st];
        }
        function A(e, t) {
          var n;
          E(e) ||
            ((n = {}),
            t.forEach(function (t) {
              n[t] = e.getAttribute(t);
            }),
            (e[st] = n));
        }
        function k(a, t) {
          var i;
          E(a) &&
            ((i = I(a)),
            t.forEach(function (t) {
              var e, n;
              (e = a),
                (t = i[(n = t)]) ? e.setAttribute(n, t) : e.removeAttribute(n);
            }));
        }
        function L(t, e, n) {
          _(t, e.class_loading),
            s(t, ut),
            n && (p(n, 1), f(e.callback_loading, t, n));
        }
        function w(t, e, n) {
          n && t.setAttribute(e, n);
        }
        function x(t, e) {
          w(t, ct, l(t, e.data_sizes)),
            w(t, rt, l(t, e.data_srcset)),
            w(t, ot, l(t, e.data_src));
        }
        function O(t, e, n) {
          var a = l(t, e.data_bg_multi),
            i = l(t, e.data_bg_multi_hidpi);
          (a = at && i ? i : a) &&
            ((t.style.backgroundImage = a),
            (n = n),
            _((t = t), (e = e).class_applied),
            s(t, ft),
            n &&
              (e.unobserve_completed && b(t, e), f(e.callback_applied, t, n)));
        }
        function N(t, e) {
          !e ||
            0 < e.loadingCount ||
            0 < e.toLoadCount ||
            f(t.callback_finish, e);
        }
        function C(t, e, n) {
          t.addEventListener(e, n), (t.llEvLisnrs[e] = n);
        }
        function M(t) {
          return !!t.llEvLisnrs;
        }
        function z(t) {
          if (M(t)) {
            var e,
              n,
              a = t.llEvLisnrs;
            for (e in a) {
              var i = a[e];
              (n = e), (i = i), t.removeEventListener(n, i);
            }
            delete t.llEvLisnrs;
          }
        }
        function R(t, e, n) {
          var a;
          delete t.llTempImage,
            p(n, -1),
            (a = n) && --a.toLoadCount,
            v(t, e.class_loading),
            e.unobserve_completed && b(t, n);
        }
        function T(o, r, c) {
          var l = g(o) || o;
          M(l) ||
            (function (t, e, n) {
              M(t) || (t.llEvLisnrs = {});
              var a = "VIDEO" === t.tagName ? "loadeddata" : "load";
              C(t, a, e), C(t, "error", n);
            })(
              l,
              function (t) {
                var e, n, a, i;
                (n = r),
                  (a = c),
                  (i = d((e = o))),
                  R(e, n, a),
                  _(e, n.class_loaded),
                  s(e, dt),
                  f(n.callback_loaded, e, a),
                  i || N(n, a),
                  z(l);
              },
              function (t) {
                var e, n, a, i;
                (n = r),
                  (a = c),
                  (i = d((e = o))),
                  R(e, n, a),
                  _(e, n.class_error),
                  s(e, _t),
                  f(n.callback_error, e, a),
                  i || N(n, a),
                  z(l);
              }
            );
        }
        function G(t, e, n) {
          var a, i, o, r, c;
          (t.llTempImage = document.createElement("IMG")),
            T(t, e, n),
            E((c = t)) ||
              (c[st] = { backgroundImage: c.style.backgroundImage }),
            (o = n),
            (r = l((a = t), (i = e).data_bg)),
            (c = l(a, i.data_bg_hidpi)),
            (r = at && c ? c : r) &&
              ((a.style.backgroundImage = 'url("'.concat(r, '")')),
              g(a).setAttribute(ot, r),
              L(a, i, o)),
            O(t, e, n);
        }
        function D(t, e, n) {
          var a;
          T(t, e, n),
            (a = e),
            (e = n),
            (t = It[(n = t).tagName]) && (t(n, a), L(n, a, e));
        }
        function V(t, e, n) {
          var a;
          (a = t), (-1 < yt.indexOf(a.tagName) ? D : G)(t, e, n);
        }
        function F(t, e, n) {
          var a;
          t.setAttribute("loading", "lazy"),
            T(t, e, n),
            (a = e),
            (e = It[(n = t).tagName]) && e(n, a),
            s(t, vt);
        }
        function j(t) {
          t.removeAttribute(ot), t.removeAttribute(rt), t.removeAttribute(ct);
        }
        function P(t) {
          m(t, function (t) {
            k(t, Et);
          }),
            k(t, Et);
        }
        function S(t) {
          var e;
          (e = At[t.tagName])
            ? e(t)
            : E((e = t)) &&
              ((t = I(e)), (e.style.backgroundImage = t.backgroundImage));
        }
        function U(t, e) {
          var n;
          S(t),
            (n = e),
            u((e = t)) ||
              d(e) ||
              (v(e, n.class_entered),
              v(e, n.class_exited),
              v(e, n.class_applied),
              v(e, n.class_loading),
              v(e, n.class_loaded),
              v(e, n.class_error)),
            r(t),
            y(t);
        }
        function $(t, e, n, a) {
          var i;
          n.cancel_on_exit &&
            (c(t) !== ut ||
              ("IMG" === t.tagName &&
                (z(t),
                m((i = t), function (t) {
                  j(t);
                }),
                j(i),
                P(t),
                v(t, n.class_loading),
                p(a, -1),
                r(t),
                f(n.callback_cancel, t, e, a))));
        }
        function q(t, e, n, a) {
          var i,
            o,
            r = ((o = t), 0 <= pt.indexOf(c(o)));
          s(t, "entered"),
            _(t, n.class_entered),
            v(t, n.class_exited),
            (i = t),
            (o = a),
            n.unobserve_entered && b(i, o),
            f(n.callback_enter, t, e, a),
            r || V(t, n, a);
        }
        function H(t) {
          return t.use_native && "loading" in HTMLImageElement.prototype;
        }
        function B(t, i, o) {
          t.forEach(function (t) {
            return (a = t).isIntersecting || 0 < a.intersectionRatio
              ? q(t.target, t, i, o)
              : ((e = t.target),
                (n = t),
                (a = i),
                (t = o),
                void (
                  u(e) ||
                  (_(e, a.class_exited),
                  $(e, n, a, t),
                  f(a.callback_exit, e, n, t))
                ));
            var e, n, a;
          });
        }
        function J(e, n) {
          var t;
          et &&
            !H(e) &&
            (n._observer = new IntersectionObserver(
              function (t) {
                B(t, e, n);
              },
              {
                root: (t = e).container === document ? null : t.container,
                rootMargin: t.thresholds || t.threshold + "px",
              }
            ));
        }
        function K(t) {
          return Array.prototype.slice.call(t);
        }
        function Q(t) {
          return t.container.querySelectorAll(t.elements_selector);
        }
        function W(t) {
          return c(t) === _t;
        }
        function X(t, e) {
          return (e = t || Q(e)), K(e).filter(u);
        }
        function Y(e, t) {
          var n;
          ((n = Q(e)), K(n).filter(W)).forEach(function (t) {
            v(t, e.class_error), r(t);
          }),
            t.update();
        }
        function t(t, e) {
          var n,
            a,
            t = i(t);
          (this._settings = t),
            (this.loadingCount = 0),
            J(t, this),
            (n = t),
            (a = this),
            Z &&
              window.addEventListener("online", function () {
                Y(n, a);
              }),
            this.update(e);
        }
        var Z = "undefined" != typeof window,
          tt =
            (Z && !("onscroll" in window)) ||
            ("undefined" != typeof navigator &&
              /(gle|ing|ro)bot|crawl|spider/i.test(navigator.userAgent)),
          et = Z && "IntersectionObserver" in window,
          nt = Z && "classList" in document.createElement("p"),
          at = Z && 1 < window.devicePixelRatio,
          it = {
            elements_selector: ".lazy",
            container: tt || Z ? document : null,
            threshold: 300,
            thresholds: null,
            data_src: "src",
            data_srcset: "srcset",
            data_sizes: "sizes",
            data_bg: "bg",
            data_bg_hidpi: "bg-hidpi",
            data_bg_multi: "bg-multi",
            data_bg_multi_hidpi: "bg-multi-hidpi",
            data_poster: "poster",
            class_applied: "applied",
            class_loading: "litespeed-loading",
            class_loaded: "litespeed-loaded",
            class_error: "error",
            class_entered: "entered",
            class_exited: "exited",
            unobserve_completed: !0,
            unobserve_entered: !1,
            cancel_on_exit: !0,
            callback_enter: null,
            callback_exit: null,
            callback_applied: null,
            callback_loading: null,
            callback_loaded: null,
            callback_error: null,
            callback_finish: null,
            callback_cancel: null,
            use_native: !1,
          },
          ot = "src",
          rt = "srcset",
          ct = "sizes",
          lt = "poster",
          st = "llOriginalAttrs",
          ut = "loading",
          dt = "loaded",
          ft = "applied",
          _t = "error",
          vt = "native",
          gt = "data-",
          bt = "ll-status",
          pt = [ut, dt, ft, _t],
          ht = [ot],
          mt = [ot, lt],
          Et = [ot, rt, ct],
          It = {
            IMG: function (t, e) {
              m(t, function (t) {
                A(t, Et), x(t, e);
              }),
                A(t, Et),
                x(t, e);
            },
            IFRAME: function (t, e) {
              A(t, ht), w(t, ot, l(t, e.data_src));
            },
            VIDEO: function (t, e) {
              a(t, function (t) {
                A(t, ht), w(t, ot, l(t, e.data_src));
              }),
                A(t, mt),
                w(t, lt, l(t, e.data_poster)),
                w(t, ot, l(t, e.data_src)),
                t.load();
            },
          },
          yt = ["IMG", "IFRAME", "VIDEO"],
          At = {
            IMG: P,
            IFRAME: function (t) {
              k(t, ht);
            },
            VIDEO: function (t) {
              a(t, function (t) {
                k(t, ht);
              }),
                k(t, mt),
                t.load();
            },
          },
          kt = ["IMG", "IFRAME", "VIDEO"];
        return (
          (t.prototype = {
            update: function (t) {
              var e,
                n,
                a,
                i = this._settings,
                o = X(t, i);
              {
                if ((h(this, o.length), !tt && et))
                  return H(i)
                    ? ((e = i),
                      (n = this),
                      o.forEach(function (t) {
                        -1 !== kt.indexOf(t.tagName) && F(t, e, n);
                      }),
                      void h(n, 0))
                    : ((t = this._observer),
                      (i = o),
                      t.disconnect(),
                      (a = t),
                      void i.forEach(function (t) {
                        a.observe(t);
                      }));
                this.loadAll(o);
              }
            },
            destroy: function () {
              this._observer && this._observer.disconnect(),
                Q(this._settings).forEach(function (t) {
                  y(t);
                }),
                delete this._observer,
                delete this._settings,
                delete this.loadingCount,
                delete this.toLoadCount;
            },
            loadAll: function (t) {
              var e = this,
                n = this._settings;
              X(t, n).forEach(function (t) {
                b(t, e), V(t, n, e);
              });
            },
            restoreAll: function () {
              var e = this._settings;
              Q(e).forEach(function (t) {
                U(t, e);
              });
            },
          }),
          (t.load = function (t, e) {
            e = i(e);
            V(t, e);
          }),
          (t.resetStatus = function (t) {
            r(t);
          }),
          Z &&
            (function (t, e) {
              if (e)
                if (e.length) for (var n, a = 0; (n = e[a]); a += 1) o(t, n);
                else o(t, e);
            })(t, window.lazyLoadOptions),
          t
        );
      });
      !(function (e, t) {
        "use strict";
        function a() {
          t.body.classList.add("litespeed_lazyloaded");
        }
        function n() {
          console.log("[LiteSpeed] Start Lazy Load Images"),
            (d = new LazyLoad({
              elements_selector: "[data-lazyloaded]",
              callback_finish: a,
            })),
            (o = function () {
              d.update();
            }),
            e.MutationObserver &&
              new MutationObserver(o).observe(t.documentElement, {
                childList: !0,
                subtree: !0,
                attributes: !0,
              });
        }
        var d, o;
        e.addEventListener
          ? e.addEventListener("load", n, !1)
          : e.attachEvent("onload", n);
      })(window, document);
    </script>
    <script
      data-optimized="1"
      src="/wp-content/litespeed/js/94c4491dcaf061b564bca58f2591c0851906.js?ver=4f0a2"
      defer
    ></script>
  </body>
</html>
